@model IEnumerable<CompetitionManagement.Models.Team>

@{
    ViewData["Title"] = "Index";
}

<h1>List of all teams</h1>

<p>
    <a asp-action="Create">Create new team</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Award Number", "Index", new { sortOrder = ViewBag.AwardNumberSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motto)
            </th>
            <th>
                @Html.ActionLink("Created On", "Index", new { sortOrder = ViewBag.CreatedOnSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motto)
            </td>
                <td>
                    @item.CreatedOn.ToString("dd-MM-yyyy")
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
