@model IEnumerable<CompetitionManagement.Models.Game>

@{
    ViewData["Title"] = "Fixtures";
}

<h1>Fixtures</h1>

@foreach (var group in Model.GroupBy(g => g.Date.Date))
{
    <h3>@group.Key.ToString("dd/MM/yyyy"), Matchday @group.First().Round</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Home team
                </th>
                <th>
                    Away team
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stadion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in group)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-controller="Team" asp-route-id="@item.Team1.Id">@Html.DisplayFor(modelItem => item.Team1Name)</a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="Team" asp-route-id="@item.Team2.Id">@Html.DisplayFor(modelItem => item.Team2Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stadion)
                    </td>
                    <td>
                        <a asp-action="AddScore" asp-route-homeTeamName="@item.Team1Name" asp-route-awayTeamName="@item.Team2Name" asp-route-id="@item.Id">Add score</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
