@model IEnumerable<CompetitionManagement.Models.Competition>

@{
    ViewData["Title"] = "Index";
}

<h1>List of all competitions</h1>

<p>
    <a asp-action="Create">Create new competition</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Start date", "Index", new { sortOrder = ViewBag.StartDateSortParm })
            </th>
            <th>
                @Html.ActionLink("End date", "Index", new { sortOrder = ViewBag.EndDateSortParm })
            </th>
            <th>
                @Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.LocationSortParm })
            </th>
            <th>
                @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.TypeSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.StartDate.ToString("dd-MM-yyyy")
            </td>
            <td>
                @item.EndDate.ToString("dd-MM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
